<!doctype html>
<html lang="pt">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>API com MVC NODE</title>
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <ul>
        <% for(var i=0; i<bancos.length; i++) {%>
        <li>
            Nome: <%= bancos[i].LongName %>
        </li>
        <li>
            Idade: <%= bancos[i].LongName %>
            <br>
            <br>
        </li>
        <% } %>
    </ul>>
</body>

</html>